@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
body {
background: rgb(79,38,175);
background: linear-gradient(90deg, rgba(79,38,175,1) 0%, rgba(29,146,253,0.44861694677871145) 53%, rgba(252,176,69,1) 100%);
  
}

.text {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: 'Unbounded', sans-serif;
    font-size: 12em;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 1px #292727,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

@media screen and (max-width: 500px) {
    .text{
        font-size: 50px;
        font-weight: 70px;
    }
}
